<div>
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <div class="row">
    <div class="col-md-12">
      <h1 align ="center"><b>Welcome to Kyo Coffee & Tea</b></h1>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-9 ">
      <h2 align="center"><b>Please choose a drink</b></h2>
      <!-- List of Products -->
      <div id="products-list">
        <app-shopping-cart></app-shopping-cart>
      </div>
    </div>

    <div class="col-md-3">
      <h3><b>Shopping Cart</b></h3>

      <div id="cart" class="cart">
        <app-shopping-cart-list></app-shopping-cart-list>
      </div>
    </div>
  </div>
</div>